
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

#heading{
    color: #4a4a4a;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

header{
    background-color: #94e1ff;
}

#header {
    overflow: visible;
    position: relative;    
}

#logo{
    height: 5rem;
    padding: 28px 50px 0 50px;    
}

#logo-hover{
    
}

/* #primary-nav{
    flex: auto;
} */

nav{
    background-color: #94e1ff;
    height: 100px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: #005f82;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 4px;
    text-transform: uppercase;
    
}

a.active,a:hover{
    background: #fff;
    transition: .5s;
    text-decoration: none;
}

/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */
#slider{
    overflow: hidden;
    width: 100%;
}

/* #slider figure{
    position: relative;
    width: 80%;
    margin: 0;
    left: 0;
} */

#header-btn{
    position: absolute;
    top: 66%;
    left: 8.4%;
}

.container-bg{
    background-color: #d5ecf5;
    padding: 25px 25px 50px 25px;
}

.content-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
    color: #005f82;
    background-color: #fff;
    border-radius: 8px;
}

.content-box h3{
    padding: 0px 25px 0px 25px;
    text-align: center;
}

.content-box p{
    padding: 0px 25px 0px 25px;
    text-align: center;
}

footer{
    height: 300px;
    background-color: #005f82;
    margin-top: 10px;
}

.footer-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 20px 80px 20px;
}

.footer-text{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 55px 0px 0px 0px;
}

#copyright{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
