p{
    color: #fff;
}
.p-grey{
  color: grey;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto !important;
    float: none !important;
    font-family: 'Montserrat', sans-serif !important;
}

/*div{
    text-align:center;
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10pt;
    background-color: rgb(44, 58, 248);
    color: rgb(255, 232, 232);
}*/

/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
    background-color: #fff;
    /*box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);*/
    font: 600 0.875rem/0.875rem "Nunito-SemiBold";
    transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 18.4rem;
    height: 8.5rem;
}

.navbar-custom .navbar-brand.logo-text {
    font: 600 2rem/1.5rem "Nunito-SemiBold";
    color: #393939;
    text-decoration: none;
}

.navbar-custom .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

/* .navbar-custom {
    padding: 0.25rem 1.5rem 0.2rem 2rem;
}*/

.navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

/*********************/
/*    04. Header     */
/*********************/
.header {
    background-color: #fff;
}

.header .header-content {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

/*content of the page*/
.header .text-container {
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    text-align: left;
    padding: 30px 30px 30px 30px;
    background-color: rgb(19, 33, 94);
    border-radius: 20px;
}

.header h1 {
    margin-bottom: 1.125rem;
    font-size: 2.5rem;
    line-height: 3.125rem;
}

.header .p-large {
    margin-bottom: 1.875rem;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text-home], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.button-main {
  width: 25rem;
  background-color: #005f82;
  border: none;
  border-radius: 7.5px;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-main-1 {
  width: 25rem;
  background-color: #005f82;
  border: none;
  border-radius: 7.5px;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-center{
  text-align: right;
}

.button-center-1{
  text-align: left;
}

a:hover, a:active {
  border: 5px;
  border-color:  #005f82;
  background-color: #eee;
  color: white;
}
