
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

#heading{
    color: #4a4a4a;
    text-align: center;
    padding: 0px 0px 10px 0px;
    font-weight: 700;
    font-size: 3rem;
}

header{
    background-color: #94e1ff;
}

#header {
    overflow: visible;
    position: relative;    
}

#logo{
    height: 5rem;
    padding: 28px 50px 0 50px;    
}

#logo-hover{
    
}

/* #primary-nav{
    flex: auto;
} */

nav{
    background-color: #94e1ff;
    height: 100px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: #005f82;
    font-size: 17px;
    font-weight: 700;
    padding: 7px 12px;
    border-radius: 4px;
    
}

a.active,a:hover{
    background: #fff;
    transition: .5s;
    text-decoration: none;
}

/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */
#slider{
    overflow: hidden;
    width: 100%;
}

/* #slider figure{
    position: relative;
    width: 80%;
    margin: 0;
    left: 0;
} */

#header-btn{
    position: absolute;
    top: 66%;
    left: 8.4%;
}

.btn-lg{
    padding: 15px 30px 15px 30px;
    font-weight: 600;
}

.container-bg{
    background-color: #d5ecf5;
    padding: 25px 25px 50px 25px;
}

.container-bg-1{
    padding: 25px 25px 50px 25px;
}

.content-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
    color: #005f82;
    background-color: #fff;
    border-radius: 8px;
}

.content-box h3{
    padding: 0px 25px 0px 25px;
    text-align: center;
    font-weight: 600;
}

.content-box p{
    padding: 0px 25px 0px 25px;
    text-align: center;
    font-weight: 600;
}

.accordian{
    max-width: 1200px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #005f82;
}

.accordian_label,
.accordian_content{
    padding: 14px 20px;
}

.accordian_label{
    display: block;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: backgorund 0.1s;
}

.accordian_label:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.accordian_label::after{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="110" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordian_content{
    background: #d5ecf5;
    color: #005f82;
    padding: 15px 65px 15px 65px;
    line-height: 1.6;
    font-size: 1em;
    font-weight: 600;
    display: none;
}

.accordian_input{
    display: none;
}

.accordian_input:checked ~ .accordian_content{
    display: block;

}

.accordian_input:checked ~ .accordian_label::after{
    transform: translateY(-50%) rotate(0.5turn);
}

footer{
    height: 300px;
    background-color: #005f82;
    margin-top: 10px;
}

.footer-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 20px 80px 20px;
}

.footer-text{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 55px 0px 0px 0px;
}

#copyright{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-weight: 300;
}
